.card {
  background-color: white;
  max-width: 20vw;
  border-radius: 6px;
}

.card__info {
  border-radius: 0 0 6px 6px;
}

.card__heading {
  position: relative;
  padding: 0 16px;
}

.card__character-img {
  width: 100%;
}

.card__character-name {
  position: absolute;
  bottom: 0;
  -webkit-text-stroke: 2px black;
  font-size: clamp(1.5em, 2vw, 2.8em);
  margin: 0;
}
