.select {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  position: relative;
  width: 137px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 14px;
  color: #494949;
}

.select__box {
  position: relative;
}

.overSelect {
  cursor: pointer;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.select__select {
  background-color: white;
  border-radius: 6px;
  width: 100%;
  padding: 12px;
  font-size: 16px;
  line-height: 13px;
  box-shadow: 0px 1px 2px rgba(50, 50, 71, 0.08), 0px 0px 1px rgba(50, 50, 71, 0.2);
}

.select__checkboxes {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 14px;
  border-radius: 6px;
  gap: 19px;
  top: 55px;
  width: 100%;
  z-index: 1000;
}

.select__label {
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  gap: 12px;
  align-items: center;
}

.select__label > input {
  cursor: pointer;
}
