.characters {
  background: url('../img/Bg.png');
  min-height: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-position: center;
  background-size: cover;
  gap: 20px;
}

.characters__inputs {
  width: 66%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.characters__search {
  flex-basis: 100%;
}

.characters__preview {
  background-color: white;
}

.characters__add-btn {
  cursor: pointer;
  width: 137px;
  margin-left: auto;
  font-size: 16px;
  line-height: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  border: none;
  outline: none;
  background-color: white;
}
