.character-modal {
  display: flex;
  height: fit-content;
  justify-content: space-between;
  border-radius: 8px;
}

.character-modal__hero {
  width: 50%;
}

.character-modal__img {
  width: 100%;
  height: auto;
}

.character-modal__info {
  border-radius: 0px 8px 8px 0px;
  padding: 16px;
  width: 50%;
  display: flex;
  flex-direction: column;
  /* position: absolute; */
  right: 0;
  top: 0;
}

.character-modal__description {
  width: 100%;
}
