.modal-window-wrapper {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);

  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999999;
}

.modal-window {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #e8bd55;
  border-radius: 8px;
  max-width: 1020px;
}

.modal-window__close-img {
  cursor: pointer;
  position: absolute;
  right: 8px;
  top: 8px;
  height: auto;
  margin-left: auto;
}

.modal-window__close-img + .modal-window__content > .character-modal > .character-modal__info {
  padding-top: 50px;
}
