.searchbar {
  background: url('../../img/search1.svg') no-repeat calc(100% - 14px) 50%;
  padding: 14px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 8px;
  background-color: white;
}
