.navbar {
  display: flex;
  align-items: center;
  gap: 52px;
  padding: 8px 0 8px 40px;
  background: linear-gradient(180deg, #e8bd55 0%, #f2ae0a 0.01%, #e9bb4c 52.08%, #e9bb4c 90.62%);
}

.navbar__item {
  display: block;
  text-decoration: none;
  color: #494949;
  font-size: 20px;
}

.navbar__item:visited {
  color: #494949;
}
