.main {
  min-height: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 15%;
  background-image: url('../img/bg_1.png');
  background-size: cover;
  background-position: bottom;
}

.main__heading {
  font-size: 72px;
  color: white;
  max-width: 15ch;
  /* It will not work in IE and Opera mobile */
  -webkit-text-stroke: 3px black;
  line-height: 80px;
  margin: 0;
  padding-bottom: 25px;
}

.main__button {
  font-size: 20px;
  padding: 16px 64px;
  background-color: #e8bd55;
  border-radius: 8px;
  outline: none;
  border: none;
}

.main__button:hover {
  cursor: pointer;
}

.main__description {
  font-size: 24px;
  color: white;
  max-width: 40ch;
  margin: 0;
  padding-bottom: 89px;
}
