.not-found {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.not-found__message {
  font-size: 18px;
}

.not-found__button {
  background-color: #e8bd55;
  cursor: pointer;
  padding: 16px 32px;
  outline: none;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
}
