.new-character-form-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 16px;
  gap: 16px;
}

.new-character-form {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 50%;
}

.new-character-form__text-input {
  background: #ffffff;
  box-shadow: 0px 1px 2px rgba(50, 50, 71, 0.08);
  border-radius: 6px;
  padding: 4px 16px;
  border: none;
}

.new-character-form label > input {
  width: 100%;
}

.new-character-form__label-with-input {
  display: flex;
  flex-direction: column;
}

.new-character-form__info {
  display: flex;
  gap: 8px;
}

.new-character-form__photo-color {
  display: flex;
  justify-content: space-around;
}

.new-character-form__photo-container {
  display: flex;
  flex-direction: column;
}

.new-character-form__photo {
  width: 300px;
  max-height: auto;
}

.new-character-form__preview {
  background-color: white;
  border-radius: 8px;
}

.new-character-form__description-input {
  resize: none;
  height: 100px;
  background: #ffffff;
  box-shadow: 0px 1px 2px rgba(50, 50, 71, 0.08);
  border-radius: 6px;
  padding: 4px 16px;
}

.new-character-form__submit {
  color: #e8bd55;
  background: #494949;
  border: none;
  border-radius: 8px;
  padding: 6px;
  cursor: pointer;
}
